@model WebApp.ViewModels.UserRates.UserRatesViewModel

<main>
    <section class="row">
        <h1>Saved User Rates</h1>
    </section>
    <section class="row justify-content-center">
        <div class="card  col-sm-8">
            <div class="card-body">
                The following rates was saved by the user:
                <table id="currencyTable" class="table table-striped table-hover table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Currency</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Save Comment</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var rate in Model.UserRates)
                            {
                                <tr>
                                    <td>@rate.Date</td>
                                    <td>@rate.Currency</td>
                                    <td>@rate.Unit</td>
                                    <td>@rate.CurrentRate</td>
                                    <td><input type="text" id="comment" value="@rate.Comment"></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" id="delete-saved-rate" data-id="@rate.Id">Delete</button>
                                        <button type="button" class="btn btn-primary" id="update-saved-rate" data-id="@rate.Id">Update</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>